<br>
<div class="row classwork-cover">

    <div class="col-xs-12">
        <ul class="nav nav-pills classwork-centered">
            <li class="active"><a href="#">Java</a></li>
            <li><a href="#">Biology 101</a></li>
            <li><a href="#">Spanish 3</a></li>
            <li><a href="#">US History</a></li>
        </ul>
        <h2 class="lead">Java</h2>

    </div>
</div>
<br>
{{outlet}}
 